.container {
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.box {
  height: 1000px;
  background: #0a0a7a;
  padding: 10px;
  border: 1px solid silver;
}

header {
  position: fixed;
  background: #ee1a1a;
  height: 100px;
  top: 0;
  width: 100%;
}

footer {
  background: #966666;
  color: white;
  height: 100px;
  position: fixed;
bottom: 0px;
width: 100%;
}


.navigate {
  height: 100%;
  display: flex;
  align-items: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  margin-right: 10px;
  /*внеш. отступ*/
  color: #e89a8a;
  font-weight: bold;
  /*толшина текста*/
  font-size: 20px;
}

.menu {
  min-height: 300px;
  width: 200px;
  background: #300608cc;
  color: chartreuse;
  padding: 20px;
}
